//项目scss的全局变量

//左侧菜单宽度
$base-menu-width: 260px;
$base-menu-width-min: 50px;
//左侧菜单背景颜色
$base-menu-bgcolor: rgb(23, 21, 23); 

//顶部导航栏的高度
$base-tabbar-height: 60px;
//顶部导航栏的背景颜色
$base-tabbar-bgcolor: rgb(205, 203, 246);

//内容区域的背景颜色
$base-main-bgcolor: rgb(240, 237, 243);

//logo的高度
$base-logo-height: 60px;

//logo字体的大小
$base-logo-font-size: 20px;